* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px black solid; */
}
/* body {
  display: flex;
} */
/* Header section including with logo and search form and notification icon*/
header {
  height: 5rem;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}
.start {
  display: flex;
  /* border: 1px solid red; */
  height: 3rem;
  width: 150px;
  gap: 10px;
  align-items: center;
}
.logo {
  width: 5rem;
  height: auto;
}
.center {
  display: flex;
  /* border: 1px solid red; */
  height: 3rem;
  width: 30rem;
  border-radius: 30px;
}
.search-container {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 0.1px solid rgb(206, 206, 206);
  border-radius: 30px;
  padding: 0 5px;
}
input {
  width: 20rem;
  height: 30px;
  border: 0 solid rgb(206, 206, 206);
  border-left: 0;
}
.search-icon {
  padding: 2px;
  margin: auto;
}

.search-icon,
.icon {
  width: 15px;
  height: auto;
}
.end {
  display: flex;
  /* border: 1px solid red; */
  height: 3rem;
  width: 100px;
  justify-content: space-around;
  align-items: center;
}
/* Main section with content items like video and thumbnails */
main {
  display: flex;
  height: 500px;
  margin: auto;
  width: 90%;
  gap: 20px;
  justify-content: center;
}
.left {
  width: 70%;
}
.right {
  display: flex;
  width: 30%;
  justify-content: center;
  /* margin-right: 10px; */
  flex-wrap: wrap;
}
.thumbnail-container {
  display: flex;
  width: 100%;
  height: 75px;
  /* gap: 10px; */
  /* border: 1px red solid; */
  justify-content: center;
  /* margin: 8px; */
  flex-wrap: wrap;
  margin-bottom: 0;
}
.thumbnail {
  width: 150px;
  height: 75px;
  flex: 1;
}
.thumbnail-text {
  width: 150px;
  height: 75px;
  margin: 0;
}
img {
  width: 148px;
  height: 70px;
}
.hidden {
  display: none;
}
